@font-face {
    font-family: 'Nunito-Regular';
    src: url('./Content/Fonts/Nunito-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #09111b;
}

 .landing-page {
    content: '';
    position: relative;
    width: 1430px;
    height: 100vh;
    background: url('./Content//Images/100-percent.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: animate1 3s linear 1
}

@keyframes animate1 {
    0% {
        background: url('./Content//Images/off.png') no-repeat center;
    }

    50% {
        background: url('./Content//Images/50-percent.png') no-repeat center;
    }

    100% {
        background: url('./Content//Images/100-percent.png') no-repeat center;
    }
}

.profile-picture {
    display: flex;
    background: url('./Content//Images/Headshot.jpeg');
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    animation: animate2 3s linear 1
}

@keyframes animate2 {
    0% {
        background: url('./Content//Images/Headshot_Partial.png') no-repeat center;
    }

    50% {
        background: url('./Content//Images/Headshot_Partial.png') no-repeat center;
    }

    80% {
        background: url('./Content//Images/Headshot.jpeg') no-repeat center;
    }

    100% {
        background: url('./Content//Images/Headshot.jpeg') no-repeat center;
    }
}

.landing-page-text {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* color: #09111b;
    font-family: 'Nunito - Regular' !important;
    font-weight: 1000 !important; */
}

.shadow {
    text-shadow: 0px -3px 3px rgba(19, 17, 27, 1);

}

.content-image {
    border-radius: 8px;
    width: 80px;
    height: 80px;
}

.navbar-text {
    font-family: 'Nunio-Regular' !important;
    font-style: italic;
}

.light-button {
    box-shadow: 0px 0px 8px rgba(254, 249, 109, 1) !important;
    font-family: 'Nunito-Regular' !important;
    font-size: x-large !important;
    font-weight: 500 !important;
}

.background-page {
    content: '';
    position: relative;
    width: 1430px;
    height: 100vh;
    background: url('./Content//Images/100-percent.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}