* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #09111b;
}

 .landing-page {
    content: '';
    position: relative;
    width: 1430px;
    height: 100vh;
    background: url('./Content//Images/100-percent.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: animate1 3s linear 1
}

@keyframes animate1 {
    0% {
        background: url('./Content//Images/off.png') no-repeat center;
    }

    50% {
        background: url('./Content//Images/50-percent.png') no-repeat center;
    }

    100% {
        background: url('./Content//Images/100-percent.png') no-repeat center;
    }
}