* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #09111b;
}

.box {
    position: relative;
    width: 1254px;
    height: 100vh;
}

.box span::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url('./Content//Images/bright.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: animate1 2s linear 1, animate2 1s linear 1 2s, animate1 4s linear 1 3s, animate2 1s linear 1 7s, animate3 2s linear 1 8s;
}

@keyframes animate1 {
    0%, 100% {
        background: url('./Content//Images/off.png') no-repeat center;
    }

    50% {
        background: url('./Content//Images/on.png') no-repeat center;
    }
}

@keyframes animate2 {
    0%, 100% {
        background: url('./Content//Images/off.png') no-repeat center;
    }
}

@keyframes animate3 {
    0% {
        background: url('./Content//Images/off.png') no-repeat center;
    }

    50% {
        background: url('./Content//Images/on.png') no-repeat center;
    }

    100% {
        background: url('./Content//Images/bright.png') no-repeat center;
    }
}